
@font-face {
  font-family: "Streamline";
  font-weight: normal;
  src:  url($icon-font-path + '/streamline.eot?i1g3gw');
  src:  url($icon-font-path + '/streamline.eot?i1g3gw#iefix') format('embedded-opentype'),
        url($icon-font-path + '/streamline.ttf?i1g3gw') format('truetype'),
        url($icon-font-path + '/streamline.woff?i1g3gw') format('woff'),
        url($icon-font-path + '/streamline.svg?i1g3gw#streamline') format('svg');
}

.streamline {
	font-family: 'Streamline';
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


$icons: (
	'bin-1': "\e901",
	'link-1': "\e909",
	'link-2': "\e90a",
	'link-3': "\e90b",
	'paperclip-1': "\e90e",
	'pencil-2': "\e915",
	'pencil-3': "\e916",
	'pin-1': "\e91b",
	'search': "\e924",
	'check-1': "\e92f",
	'check-2': "\e930",
	'check-badge': "\e931",
	'check-box-1': "\e932",
	'check-box-2': "\e933",
	'check-circle-1': "\e934",
	'check-circle-2': "\e935",
	'check-double-1': "\e936",
	'check-double-2': "\e937",
	'checklist': "\e939",
	'close': "\e93c",
	'brightness-decrease': "\e93e",
	'brightness-increase': "\e93f",
	'cog-check': "\e940",
	'cog-double-1': "\e941",
	'cog-double-2': "\e942",
	'cog-lightbulb': "\e943",
	'cog': "\e947",
	'gauge': "\e948",
	'settings-1': "\e94c",
	'settings-2': "\e94d",
	'settings-3': "\e94e",
	'slider-1': "\e94f",
	'slider-2': "\e950",
	'swtich-down': "\e951",
	'swtich-up': "\e952",
	'toolbox': "\e953",
	'wave': "\e954",
	'wrench': "\e956",
	'cursor-dial': "\e957",
	'dial-pad': "\e958",
	'key-1': "\e95a",
	'key-2': "\e95b",
	'key-hole-1': "\e95c",
	'key-hole-2': "\e95d",
	'login-1': "\e95e",
	'login-2': "\e95f",
	'login-3': "\e960",
	'logout-1': "\e961",
	'logout-2': "\e962",
	'logout-3': "\e963",
	'alarm-clock': "\e964",
	'alarm': "\e968",
	'calendar-1': "\e969",
	'at-sign': "\e980",
	'email-2': "\e981",
	'email-add': "\e982",
	'email-compose': "\e989",
	'email-read-1': "\e995",
	'email-read-2': "\e996",
	'email-send-1': "\e99e",
	'email-send-2': "\e99f",
	'email-warning': "\e9a6",
	'email': "\e9a7",
	'envelope-2': "\e9a9",
	'forward': "\e9ac",
	'mailbox-4': "\e9b4",
	'outbox': "\e9b5",
	'reply-all': "\e9b6",
	'reply': "\e9b7",
	'account-circle-1': "\e9ba",
	'account-group-5': "\e9c8",
	'gender-female': "\e9e4",
	'gender-male': "\e9e6",
	'person-1': "\ea0c",
	'person-2': "\ea0d",
	'doctor-2': "\ea3c",
	'telemarketer': "\ea49",
	'bubble-chat-1': "\ea4b",
	'bubble-chat-2': "\ea4c",
	'bubble-chat-exclamation-1': "\ea5d",
	'bubble-chat-exclamation-2': "\ea5e",
	'user-chat-6': "\eaa5",
	'user-chat-7': "\eaa6",
	'computer-imac-1': "\e903",
	'mouse': "\e904",
	'phone-2': "\eaa9",
	'phone-3': "\eaaa",
	'phone-5': "\eaac",
	'phone-call-2': "\eab0",
	'phone-call-24-hours': "\eab1",
	'phone-call-add': "\eab2",
	'phone-call-incoming': "\eab6",
	'phone-call-reject': "\eabd",
	'phone-ringing': "\eac4",
	'google-nest': "\e905",
	'smartphone-iphone': "\e906",
	'cursor-1': "\eaf6",
	'cursor-2': "\eaf7",
	'cursor-double': "\eafb",
	'cursor-finger': "\eafd",
	'navigation-before-1': "\eb2f",
	'navigation-drawer-1': "\eb35",
	'navigation-drawer-2': "\eb36",
	'navigation-show-more-1': "\eb3f",
	'navigation-show-more-2': "\eb40",
	'heart': "\eb79",
	'thumbs-down-1': "\eb95",
	'thumbs-down-2': "\eb96",
	'thumbs-up-1': "\eb97",
	'thumbs-up-2': "\eb98",
	'lock-close-1': "\eb9f",
	'lock-close-2': "\eba0",
	'lock-close-3': "\eba1",
	'lock-close-6': "\eba4",
	'lock-open-1': "\eba6",
	'lock-open-2': "\eba7",
	'lock-open-3': "\eba8",
	'megaphone-1': "\eba9",
	'help-circle': "\ebb9",
	'infomation-circle': "\ebba",
	'loading-1': "\ebbb",
	'loading-2': "\ebbc",
	'radioactive-1': "\ebbd",
	'radioactive-2': "\ebbe",
	'report-problem-circle': "\ebbf",
	'report-problem-diamond': "\ebc0",
	'report-problem-triangle': "\ebc1",
	'sign-stop': "\ebc2",
	'trending-down': "\ebc3",
	'trending-up': "\ebc4",
	'cloud-add': "\ebc5",
	'cloud-audio': "\ebc6",
	'cloud-block': "\ebc7",
	'cloud-cash': "\ebc8",
	'cloud-check': "\ebc9",
	'cloud-disable': "\ebca",
	'cloud-download': "\ebcb",
	'cloud-favorite': "\ebcc",
	'cloud-file': "\ebcd",
	'cloud-folder': "\ebce",
	'cloud-lock': "\ebcf",
	'cloud-mobile-download': "\ebd0",
	'cloud-mobile-upload': "\ebd1",
	'cloud-picture': "\ebd2",
	'cloud-protect': "\ebd3",
	'cloud-question': "\ebd4",
	'cloud-refresh': "\ebd5",
	'cloud-remove': "\ebd6",
	'cloud-search': "\ebd7",
	'cloud-server-1': "\ebd8",
	'cloud-server-2': "\ebd9",
	'cloud-setting': "\ebda",
	'cloud-signal': "\ebdb",
	'cloud-subtract': "\ebdc",
	'cloud-sync': "\ebdd",
	'cloud-time': "\ebde",
	'cloud-transfer-finish': "\ebdf",
	'cloud-transfer-half': "\ebe0",
	'cloud-transfer-start': "\ebe1",
	'cloud-transfer': "\ebe2",
	'cloud-upload-home': "\ebe3",
	'cloud-upload': "\ebe4",
	'cloud-warning': "\ebe5",
	'cloud': "\ebe6",
	'synchronize-1': "\ebe7",
	'synchronize-2': "\ebe8",
	'synchronize-3': "\ebe9",
	'synchronize-4': "\ebea",
	'synchronize-5': "\ebeb",
	'synchronize-6': "\ebec",
	'synchronize-7': "\ebed",
	'synchronize-lock': "\ebee",
	'synchronize-time': "\ebef",
	'synchronize-triangle': "\ebf0",
	'synchronize-view': "\ebf1",
	'synchronize-warning': "\ebf2",
	'server-3': "\ebf5",
	'server-check-1': "\ebfd",
	'server-lock-1': "\ec07",
	'server-lock-2': "\ec08",
	'server-setting-1': "\ec13",
	'add-1': "\ec23",
	'add-2': "\ec24",
	'add-box': "\ec25",
	'add-circle-1': "\ec26",
	'add-circle-2': "\ec27",
	'add-circle-double': "\ec28",
	'add-tab': "\ec29",
	'remove-1': "\ec2a",
	'remove-2': "\ec2b",
	'remove-box': "\ec2c",
	'remove-circle-1': "\ec2d",
	'remove-circle-2': "\ec2e",
	'remove-tab': "\ec2f",
	'subtract-1': "\ec30",
	'subtract-2': "\ec31",
	'subtract-box': "\ec32",
	'subtract-circle-1': "\ec33",
	'subtract-circle-2': "\ec34",
	'subtract-tab': "\ec35",
	'button-power-1': "\e907",
	'crop-1': "\ec36",
	'crop-2': "\ec37",
	'expand-1': "\ec38",
	'expand-2': "\ec39",
	'expand-3': "\ec3a",
	'expand-4': "\ec3b",
	'flip-down': "\ec3c",
	'flip-up': "\ec3d",
	'grid-add': "\ec3e",
	'grid-block': "\ec3f",
	'grid-check': "\ec40",
	'grid-download': "\ec41",
	'grid-lock': "\ec42",
	'grid-magnet': "\ec43",
	'grid-remove': "\ec44",
	'grid-setting': "\ec45",
	'grid-subtract': "\ec46",
	'grid-upload': "\ec47",
	'grid-view-off': "\ec48",
	'grid-warning': "\ec49",
	'intersect': "\ec4a",
	'minus-front': "\ec4b",
	'move-down': "\ec4c",
	'move-to-back': "\ec4d",
	'move-to-front': "\ec4e",
	'move-up': "\ec4f",
	'new-circle': "\ec50",
	'new-square': "\ec51",
	'reflect-copy-left': "\ec52",
	'reflect-copy-right': "\ec53",
	'reflect-left': "\ec54",
	'reflect-right': "\ec55",
	'rotate-left': "\ec56",
	'rotate-right': "\ec57",
	'shear-left': "\ec58",
	'shear-right': "\ec59",
	'shrink-1': "\ec5a",
	'shrink-2': "\ec5b",
	'unite': "\ec5c",
	'volume-low-1': "\e900",
	'volume-medium-1': "\e902",
	'box-1': "\ede5",
	'box-2': "\ede6",
	'box-add': "\ede7",
	'box-air-delivery': "\ede8",
	'box-block': "\ede9",
	'box-boat-delivery': "\edea",
	'box-cash': "\edeb",
	'box-check': "\edec",
	'box-download': "\eded",
	'box-favorite-heart': "\edee",
	'box-favorite-star': "\edef",
	'box-forward': "\edf0",
	'box-handle-1': "\edf1",
	'box-handle-2': "\edf2",
	'box-lock': "\edf3",
	'box-modular-belt': "\edf4",
	'box-move-all-direction': "\edf5",
	'box-reload': "\edf6",
	'box-remove': "\edf7",
	'box-return': "\edf8",
	'box-storehouse': "\edf9",
	'box-subtract': "\edfa",
	'box-time': "\edfb",
	'box-truck-delievery': "\edfc",
	'box-unknown': "\edfd",
	'box-upload': "\edfe",
	'box-view-setting': "\edff",
	'box-view': "\ee00",
	'box-warning': "\ee01",
	'crate-trolley': "\ee02",
	'crate': "\ee03",
	'forklift': "\ee04",
	'shopping-cart-bag': "\ee05",
	'shopping-cart-box': "\ee06",
	'this-way-up-sign': "\ee07",
	'truck-1': "\ee08",
	'truck-2': "\ee09",
	'truck-delivery-time': "\ee0a",
	'bank-notes-1': "\ee0b",
	'bank-notes-2': "\ee0c",
	'cheque': "\ee0f",
	'coin-bank-note': "\ee10",
	'coin-receive': "\ee11",
	'coins-2': "\ee13",
	'coins-3': "\ee14",
	'credit-card-hand': "\ee16",
	'credit-card-lock': "\ee17",
	'credit-card-master-card': "\ee18",
	'credit-card-visa': "\ee19",
	'credit-card2': "\ee1a",
	'money-bag-euro': "\ee1c",
	'piggy-bank': "\ee1d",
	'purse-1': "\ee1e",
	'purse-2': "\ee1f",
	'wallet-1': "\ee20",
	'wallet-2': "\ee21",
	'wallet-3': "\ee22",
	'euro-decrease': "\ee31",
	'euro-increase': "\ee32",
	'euro-network': "\ee33",
	'euro-sign-badge': "\ee34",
	'euro-sign-circle': "\ee35",
	'euro-sign-ticket': "\ee36",
	'euro-sign': "\ee37",
	'pound-decrease': "\ee3b",
	'pound-increase': "\ee3c",
	'pound-network': "\ee3d",
	'pound-sign-badge': "\ee3e",
	'pound-sign-circle': "\ee3f",
	'pound-sign-ticket': "\ee40",
	'pound-sign': "\ee41",
	'arrow-bottom-left': "\ee49",
	'arrow-bottom-right': "\ee4a",
	'arrow-down': "\ee4b",
	'arrow-enter': "\ee4c",
	'arrow-left': "\ee4d",
	'arrow-next': "\ee4e",
	'arrow-previous': "\ee4f",
	'arrow-return': "\ee50",
	'arrow-right': "\ee51",
	'arrow-shift': "\ee52",
	'arrow-top-left': "\ee53",
	'arrow-top-right': "\ee54",
	'arrow-up': "\ee55",
	'asterisk-1': "\ee56",
	'asterisk-2': "\ee57",
	'button-alt': "\ee58",
	'button-backspace': "\ee59",
	'button-delete': "\ee5a",
	'button-direction': "\ee5b",
	'button-eject': "\ee5c",
	'button-empty': "\ee5d",
	'button-enter': "\ee5e",
	'button-escape': "\ee5f",
	'button-option': "\ee60",
	'button-shift': "\ee61",
	'command': "\ee62",
	'page-down': "\ee63",
	'page-up': "\ee64",
	'compass-1': "\ee65",
	'compass-2': "\ee66",
	'compass-3': "\ee67",
	'compass-east': "\ee68",
	'compass-north': "\ee69",
	'compass-south': "\ee6a",
	'compass-west': "\ee6b",
	'globe-1': "\ee6c",
	'globe-add': "\ee6d",
	'globe-block': "\ee6e",
	'globe-cash': "\ee6f",
	'globe-check': "\ee70",
	'globe-download': "\ee71",
	'globe-edit': "\ee72",
	'globe-favorite-heart': "\ee73",
	'globe-favorite-star': "\ee74",
	'globe-lock': "\ee75",
	'globe-pin': "\ee76",
	'globe-question': "\ee77",
	'globe-refresh': "\ee78",
	'globe-remove': "\ee79",
	'globe-search': "\ee7a",
	'globe-setting': "\ee7b",
	'globe-share': "\ee7c",
	'globe-subtract': "\ee7d",
	'globe-sync': "\ee7e",
	'globe-timeout': "\ee7f",
	'globe-upload': "\ee80",
	'globe-warning': "\ee81",
	'location-computer': "\ee82",
	'location-map': "\ee83",
	'location-pin-1': "\ee84",
	'location-pin-2': "\ee85",
	'location-pin-3': "\ee86",
	'location-pin-4': "\ee87",
	'location-pin-5': "\ee88",
	'location-pin-6': "\ee89",
	'location-pin-7': "\ee8a",
	'location-pin-8': "\ee8b",
	'location-pin-9': "\ee8c",
	'location-pin-10': "\ee8d",
	'location-pin-11': "\ee8e",
	'location-pin-12': "\ee8f",
	'location-pin-13': "\ee90",
	'location-pin-14': "\ee91",
	'location-pin-add-1': "\ee92",
	'location-pin-add-2': "\ee93",
	'location-pin-add-3': "\ee94",
	'location-pin-add-4': "\ee95",
	'location-pin-add-5': "\ee96",
	'location-pin-airport-1': "\ee97",
	'location-pin-airport-2': "\ee98",
	'location-pin-bank-1': "\ee99",
	'location-pin-bank-2': "\ee9a",
	'location-pin-bar-1': "\ee9b",
	'location-pin-bar-2': "\ee9c",
	'location-pin-block': "\ee9d",
	'location-pin-camera-1': "\ee9e",
	'location-pin-camera-2': "\ee9f",
	'location-pin-check-1': "\eea0",
	'location-pin-check-2': "\eea1",
	'location-pin-church-1': "\eea2",
	'location-pin-church-2': "\eea3",
	'location-pin-dining-1': "\eea4",
	'location-pin-direction-1': "\eea5",
	'location-pin-direction-2': "\eea6",
	'location-pin-direction-3': "\eea7",
	'location-pin-exclamation-1': "\eea8",
	'location-pin-exclamation-2': "\eea9",
	'location-pin-favorite-1': "\eeaa",
	'location-pin-favorite-2': "\eeab",
	'location-pin-favorite-3': "\eeac",
	'location-pin-favorite-4': "\eead",
	'location-pin-flash-1': "\eeae",
	'location-pin-flash-2': "\eeaf",
	'location-pin-garage-1': "\eeb0",
	'location-pin-garage-2': "\eeb1",
	'location-pin-gas-station-1': "\eeb2",
	'location-pin-gas-station-2': "\eeb3",
	'location-pin-globe-1': "\eeb4",
	'location-pin-globe-2': "\eeb5",
	'location-pin-group': "\eeb6",
	'location-pin-gym-1': "\eeb7",
	'location-pin-gym-2': "\eeb8",
	'location-pin-home-1': "\eeb9",
	'location-pin-home-2': "\eeba",
	'location-pin-hospital-1': "\eebb",
	'location-pin-hospital-2': "\eebc",
	'location-pin-information-1': "\eebd",
	'location-pin-information-2': "\eebe",
	'location-pin-library-1': "\eebf",
	'location-pin-library-2': "\eec0",
	'location-pin-medium': "\eec1",
	'location-pin-refresh': "\eec2",
	'location-pin-remove-1': "\eec3",
	'location-pin-remove-2': "\eec4",
	'location-pin-remove-3': "\eec5",
	'location-pin-remove-4': "\eec6",
	'location-pin-restaurant-2': "\eec7",
	'location-pin-shopping-1': "\eec8",
	'location-pin-shopping-2': "\eec9",
	'location-pin-skull-1': "\eeca",
	'location-pin-skull-2': "\eecb",
	'location-pin-subtract-1': "\eecc",
	'location-pin-subtract-2': "\eecd",
	'location-pin-subtract-3': "\eece",
	'location-pin-subtract-4': "\eecf",
	'location-pin-subtract-5': "\eed0",
	'location-pin-subway-1': "\eed1",
	'location-pin-subway-2': "\eed2",
	'location-pin-target-1': "\eed3",
	'location-pin-target-2': "\eed4",
	'location-pin-unknown-1': "\eed5",
	'location-pin-unknown-2': "\eed6",
	'location-pin-user-1': "\eed7",
	'location-pin-user-2': "\eed8",
	'location-pin-wifi-1': "\eed9",
	'location-pin-wifi-2': "\eeda",
	'location-user': "\eedb",
	'map-1': "\eedc",
	'map-direction': "\eedd",
	'map-pin-1': "\eede",
	'map-pin-2': "\eedf",
	'map-search': "\eee0",
	'map-target-1': "\eee1",
	'map-target-2': "\eee2",
	'map-target-none': "\eee3",
	'road-pin': "\eee4",
	'home-1': "\e908",
	'home-2': "\e90c",
	'home-3': "\e90d",
	'house-location-pin': "\e90f",
	'house-search-2': "\e910",
	'ambulance': "\ef72",
	'blood-drop': "\ef73",
	'bone-broken': "\ef74",
	'cannabis-leaf': "\ef75",
	'condom': "\ef76",
	'crutch': "\ef77",
	'dental-shield': "\ef78",
	'dentis': "\ef79",
	'emergency-patient': "\ef7a",
	'first-aid-plaster': "\ef7b",
	'heart-beat': "\ef7c",
	'helipad-circle': "\ef7d",
	'helipad-square': "\ef7e",
	'hospital-1': "\ef7f",
	'hospital-2': "\ef80",
	'medical-bed': "\ef81",
	'medical-box': "\ef82",
	'medical-certificate': "\ef83",
	'medical-cross-snake': "\ef84",
	'medical-cross': "\ef85",
	'medical-notepad': "\ef86",
	'medical-scissors': "\ef87",
	'medical-shield': "\ef88",
	'medical-walker': "\ef89",
	'medicine-capsule-1': "\ef8a",
	'medicine-capsule-2': "\ef8b",
	'medicine': "\ef8c",
	'mortar-pestle': "\ef8d",
	'nurse-cap': "\ef8e",
	'pilse-signal-3': "\ef8f",
	'pulse-check': "\ef90",
	'pulse-signal-1': "\ef91",
	'pulse-signal-2': "\ef92",
	'saline': "\ef93",
	'sign-hospital-1': "\ef94",
	'sign-hospital-2': "\ef95",
	'sperm': "\ef96",
	'stethoscope': "\ef97",
	'syringe': "\ef98",
	'tooth-refresh': "\ef99",
	'x-ray': "\ef9a",
	'christmas-tree': "\f004",
	'snow-crystal': "\f007",
	'snowman': "\f009",
	'copy-3': "\f00d",
	'file-landscape-new': "\f026",
	'file-landscape-text': "\f028",
	'file-new-1': "\f02c",
	'arrow-down-12': "\f0fc",
	'arrow-left-12': "\f118",
	'arrow-right-12': "\f125",
	'arrow-up-12': "\f136",
	'logo-amazon-1': "\f13c",
	'logo-amazon-2': "\f13d",
	'logo-circle-path': "\f1b2",
	'logo-google-plus-1': "\f208",
	'logo-google': "\f20a",
	'logo-imessage': "\f215",
	'logo-instagram': "\f216",
	'logo-linkedin': "\f21f",
	'logo-skype': "\f244",
	'logo-twitter-bird': "\f254",
	'logo-twitter': "\f255",
	'Test2': "\e911"
);


// set content for each icon class
@each $key, $value in $icons {
	.streamline-#{$key} {
		&:before {
			content: $value;
		}
	}
}
